.rem-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.rem-price-range,
.rem-bank-est,
.rem-internet,
.rem-listing-updates {
  font-size: 18px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  height: 0;
}

.rem-logo {
  animation: growShrink 1.2s linear infinite;
  display: block;
  margin: auto;
}

.rem-price-range-inner,
.rem-bank-est-inner,
.rem-internet-est-inner,
.rem-internet-list-speed,
.rem-internet-list-connection,
.rem-internet-list-co-existance,
.rem-internet-list-co-existance-face {
  font-size: 18px;
  font-weight: 400;
}

.rem-internet-list {
  list-style-type: disc;
  padding-left: 40px;
}

.rem-bank-est-inner,
.rem-internet-est-inner {
  color: blue;
}

.rem-internet-est-inner {
  visibility: hidden;
}

.rem-internet-list-connection {
  color: blue;
}
